.content {
	background-color: #F7F0EF;
	overflow: scroll;
}
.title {
	font-family: Raleway;
	text-align: center;
	margin-top: 160px;
	font-size: 40px;
	color: white;
}
.backgroundimg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.9;
}
h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 17px;
	font-weight: normal;
	color: white;
}
video {
	height: 200px;
	width: 380px;
}
.one {
	font-family: Raleway;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: grey;
	margin-top: 370px;
}
.pone {
	font-family: Raleway;
	padding-right: 10%;
	padding-left: 10%;
	font-weight: normal;
	font-size: 13px;
	color: grey;
	display: block;
}
.first {
	height: 200px;
	width: 350px;
}
.firstmedia {
	display: flex;
	flex-direction: row;
}